html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f2f2f2;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration: none;
}

*{
  color: #434343;
}

/* 제일상단레이아웃 */
.layout{
  max-width:600px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 50px;
}



/* loginMain */
.textField{
  display: block;
  width: 50%;
}

.textField>div {
  width: 100%;
}

.loginField{
  display: grid;
  grid-template-rows: 70px 70px 40px;
  place-items: center;
}

.loginMainTitle{
  text-align: center;
  color: coral;
  font-size: 37px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
}
/* 섹션별 margin은 30px로 고정 */

/* main */
.main_successLogin{/* 사실상 제일 첨에 보여줄곳의 css */
  
}

.holloUser{
  margin: 30px 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.login_btn{
  background: #fff;
}

.main_userSpan{
  font-size: 20px;
  color: coral;
}


/* todayHabit */
.todayHabit{
  border: 1px solid #434343;
}/* 요거 정채를 모르겠네??? */

.todayHabit_main{
  background: rgb(255, 211, 218);
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.todayHabit_main h2{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
}

.drawListTitle span{
  font-weight: 600;
}

.noHabit{
  background: rgb(255, 211, 218);
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  margin-bottom: 30px;/* 바로 아래 컨텐츠와의 마진 */
}
.noHabit h2 {
  font-weight: 600;
}



/* drawingHabit 
   오늘의 할일부분
*/

.draw_checkBTN{
  border: none;
  background: none;
  width: 23px;
  padding: 0;
  margin-right: 10px;
}


/* pleaseLogin */
.pleaseLogin{
  display: grid;
  grid-template-rows: 4fr 3fr 3fr;
  place-items: center;
}

.pleaseLoginTitle{
  font-size: 30px;
  text-align: center;
}

.pleaseLoginSection{
  width: 50%;
  margin-bottom: 20px;
  /* background: red; */
}

.pleaseLoginSection p, .pleaseLoginSection h3{
  margin-bottom: 10px;
}

.pleaseLoginInner{
  color: coral;
  font-size: 37px;
  font-weight: 600;
}


/* lastweek */
.noLastWeekHabit{
  background: rgb(177, 189, 252);
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
}
.noLastWeekHabit h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.noLastWeekHabit p {
  font-size: 14px;
}

.lastWeek_btn{
  margin-top: 10px;
  background: #fff;
}


/* drawingLastWeek */
.lastWeek {
  background: rgb(177, 189, 252);
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  
}

.lastWeek h2{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
}

.lastWeekSubTitle span {
  font-weight: 600;
  font-size: 20px;
}

.lastWeekList{
 /*  background: pink; */
}

.drawingLastWeekSlide{
  /* background: rgb(232, 236, 255); */
  margin: 0 8px;
  padding-top: 10px;
}

.drawingLastWeekSlide h3 {
  font-size: 17px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: solid 3px rgb(232, 236, 255);
}

.lastWeekTableHeader{
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 10px 0;
}

.lastWeekTableHeader h4 {
  padding-left: 10px;
  margin-top: 5px;
}

.lastWeekTableHeader p {
  text-align: center;
  padding-right: 10px;
}

.lastWeekUL{
  /* background: yellow; */
  display: grid;
  row-gap: 10px;
}

.lastWeekListLI{
  background: rgb(232, 236, 255);
  display: grid;
  padding: 20px 0;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  
}
.lastWeekListLI h4 {
  margin-left: 10px;
  font-weight: 600;
}
.lastWeekListLI p {
  /* background: red; */
  text-align: center;
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}


/* join */
.joinMainTitle{
  text-align: center;
  color: coral;
  font-size: 37px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
}

.joinTextField{
  display: block;
  width: 50%;
}

.joinTextField>div {
  width: 100%;
}

.joinField{
  display: grid;
  grid-template-rows: 70px 70px 70px 40px;
  place-items: center;
}

.join_btn{
  background: #fff;
}





/* nav */
.navStack{
  z-index: 100;
}

